@page "/"
<section class="intro" id="intro">
        <div class="intro__item intro__text">
            <div>
                <h3>Tradition</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                </p>
            </div>
        </div>
        <div class="intro__item intro__ab1">
            <img src="images/team/ab1.jpg" alt="intro 1">
        </div>
        <div class="intro__item intro__text">
            <div>
                <h3>Creativity</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                </p>
            </div>
        </div>
        <div class="intro__item intro__bake intro__text">
            <div>
                <h3>What We Bake Best For You</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolorL orem
                    ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                </p>
            </div>
        </div>
        <div class="intro__item">
            <img src="images/team/ab2.jpg" alt="intro 2">
        </div>
        <div class="intro__item intro__text">
            <div>
                <h3>Quality</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                </p>
            </div>
        </div>
        <div class="intro__item">
            <img src="images/team/ab3.jpg" alt="intro 3">
        </div>
        <div class="intro__item intro__text">
            <div>
                <h3>Tasty Cakes</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor
                </p>
            </div>
        </div>
        <div class="intro__item intro__ab4">
            <img src="images/team/ab4.jpg" alt="intro 4">
        </div>
    </section>
<section class="team">
        <h1>Đội ngũ của chúng tôi</h1>
        <div class="team__content">
            <div class="team__item">
                <img src="images/team/t1.jpg" alt="team 1"/>
                <div class="team__title">
                    <h3>John Simon
                    </h3>
                    <p>-Cake Maker
                    </p>
                </div>
                <div class="team__details">
                    <h3>John Simon
                    </h3>
                    <p class="team__text">-Cake Maker
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, libero.</p>
                </div>
            </div>
            <div class="team__item">
                <img src="images/team/t2.jpg" alt="team 2"/>
                <div class="team__title">
                    <h3>John Simon
                    </h3>
                    <p>-Cake Maker
                    </p>
                </div>
                <div class="team__details">
                    <h3>John Simon
                    </h3>
                    <p class="team__text">-Cake Maker
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, libero.</p>
                </div>
            </div>
            <div class="team__item">
                <img src="images/team/t3.jpg" alt="team 3"/>
                <div class="team__title">
                    <h3>John Simon
                    </h3>
                    <p>-Cake Maker
                    </p>
                </div>
                <div class="team__details">
                    <h3>John Simon
                    </h3>
                    <p class="team__text">-Cake Maker
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, libero.</p>
                </div>
            </div>
            <div class="team__item">
                <img src="images/team/t4.jpg" alt="team 4"/>
                <div class="team__title">
                    <h3>John Simon
                    </h3>
                    <p>-Cake Maker
                    </p>
                </div>
                <div class="team__details">
                    <h3>John Simon
                    </h3>
                    <p class="team__text">-Cake Maker
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, libero.</p>
                </div>
            </div>
            <div class="team__item">
                <img src="images/team/t1.jpg" alt="team 5"/>
                <div class="team__title">
                    <h3>John Simon
                    </h3>
                    <p>-Cake Maker
                    </p>
                </div>
                <div class="team__details">
                    <h3>John Simon
                    </h3>
                    <p class="team__text">-Cake Maker
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, libero.</p>
                </div>
            </div>
            <div class="team__item">
                <img src="images/team/t2.jpg" alt="team 6"/>
                <div class="team__title">
                    <h3>John Simon
                    </h3>
                    <p>-Cake Maker
                    </p>
                </div>
                <div class="team__details">
                    <h3>John Simon
                    </h3>
                    <p class="team__text">-Cake Maker
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, libero.</p>
                </div>
            </div>
        </div>
    </section>
